body {
    padding: 0;
    margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

li {
    list-style-type: none;
}
/*table, tr, td, th {margin: 0;border: 0;padding: 5px;border-collapse: collapse;}*/

table {
    width: 100%;
    /*margin: 15px 20px 20px 20px;*/
    max-height: 500px;
    border: 3px solid #4e555b;
    border-spacing: 0px;
    color: black;
    text-align: center;
    overflow: scroll;
}
table th{
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table thead tr td,table tbody tr td {
    /*border-bottom: 3px solid #4e555b;*/
    padding: 10px 20px;
}
table thead tr td {
    font-weight: bold;
}
table tbody tr:nth-child(even) {
    background: #EFD3D2;
}

.grid{
    height: 500px;
    margin: 20px 20px 20px 20px;
}

.refresh {
    margin-top: 30px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 3px #888;
    padding: 5px 5px 5px 5px;
    margin-left: 35%;
}

.refresh:hover {
  cursor: pointer;
  background-color: #aaa;
}

.localStream {
  display: inline-block;
  top: 15px;
  right: 15px;
  float: right;
}

.localStream video {
    border: 5px solid rgb(119, 119, 119);
    outline: 0px none;
    height: 240px;
    width: 320px;
}

.streams-panel{
    width: 930px;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}

.header{
    background: #696969;
    width: 100%;
    height: 100px;
}

.main-panel{
    margin: 0px 40px 40px 40px;
    height:650px;
    background: #e9ecef ;
}

.remoteStreams{
    margin: 30px;
    padding: 30px;
}

.remoteStreams td:hover {
  cursor: pointer;
  background-color: #aaa;
}

.remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 3px 3px 3px 3px; 
  box-shadow:inset 1px 2px 6px #070707;
}

.functions{
    float: left;
    display: block;
}

.functions li{
    transition: transform 0.25s ease;
    width: 150px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin: 10px;
    background-color: #00b5e1;

}

.functions li:hover{
    transform:scale(1.2,1.2);
    box-shadow: 0 0 10px #0000ff;
    cursor: pointer;
}

#remoteVideosContainer{
    float: right;
    margin-top: 25px;
}

.footer {
   clear: both;
}