<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View-stream</title>
</head>
<body>
<div style="padding: 0; margin: 0; width: 100%;height: 100%" ng-controller="ViewController as view" ng-init="load()">
    <div class="header">

    </div>
    <div style="padding: 0; margin: 0; width: 100%; height: 700px; overflow: auto">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-locked-open="true" style="height: 700px;width:15%">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">提供服务</h1>
                </md-toolbar>
                <md-content style="width: 100%;" layout-padding>
                    <md-button class="md-primary" ng-click="view.view()">
                        <strong><span style="font-size: 15px">屏幕共享</span></strong>
                    </md-button>
                    <br/>
                    <md-button class="md-primary" ng-click="view.back_camera()">
                        后摄监控
                    </md-button>
                    <br/>
                    <md-button class="md-primary" ng-click="view.front_camera()">
                        前摄监控
                    </md-button>
                    <br/>
                    <md-button class="md-primary" ng-click="view.gps()">
                        位置监控
                    </md-button>
                    <br/>
                    <md-button class="md-primary">
                        指纹认证
                    </md-button>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding>
                <div id="container">
                    <div id="remoteVideosContainer"></div>
                </div>
            </md-content>
        </section>
    </div>
</div>
</body>
</html>